h1 {
    text-align: center;
    color: #c5c8c6;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #f0c674;
    color: #f0c674;
    line-height: 0.1em;
    margin: 30px 0 20px;
    padding-top: 20px;
}

h3 {
   color: #c5c8c6;
}

h2 span {
    background: #1d1f21;
    padding:0 10px;
}

hr {
   border: 1px solid #f0c674;
}

p {
    display: flex;
    justify-content: space-between;
}

body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:16px;
    font-family: Sans-Serif;
    background-color: #1d1f21;
    color: #969896;
    padding: 0 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #81a2be;
}
